@media screen, print {
  body {
    --blockquote-background-color: var(--background-primary-alt);
    --blockquote-border-color: var(--background-modifier-border-hover);
    --blockquote-border-thickness: 2px;
    --blockquote-radius: var(--radius-s);

    --blockquote-size: var(--font-text-size);
  }

  .markdown-rendered blockquote,
  .HyperMD-quote {
    corner-shape: var(--corner-shape);
    font-size: var(--blockquote-size);
  }
  .markdown-rendered blockquote {
    position: relative;
    border-inline-start: none;

    &::before {
      position: absolute;
      border-radius: var(--radius-m);
      background-color: var(--blockquote-border-color);
      width: var(--blockquote-border-thickness);
      pointer-events: none;
      content: "";
    }
  }

  // Blockquote: Block
  body:is(.blockquote-block, :not(.css-settings-manager)) {
    .markdown-rendered blockquote {
      border-radius: var(--radius-s);
      padding-inline: calc(var(--blockquote-border-thickness) + 32px) 16px;
      padding-block: 16px;

      &::before {
        inset: 16px;
      }
    }
    .markdown-rendered blockquote > blockquote {
      padding-inline-start: calc(var(--blockquote-border-thickness) + 16px);
      padding-block: 0;
      border: none;

      &::before {
        inset: 0;
      }
    }

    .is-live-preview .HyperMD-quote {
      border: 0px solid var(--blockquote-background-color);
      border-width: 0 16px;
    }
    .HyperMD-quote:first-child,
    .cm-line:not(.HyperMD-quote) + .HyperMD-quote {
      border-top-width: 16px;
      border-start-start-radius: var(--radius-s);
      border-start-end-radius: var(--radius-s);
    }
    .HyperMD-quote:last-child,
    .cm-line.HyperMD-quote:has(+ .cm-line:not(.HyperMD-quote)) {
      border-bottom-width: 16px;
      border-end-start-radius: var(--radius-s);
      border-end-end-radius: var(--radius-s);
    }
  }

  // Blockquote: Edge
  body.blockquote-edge {
    .markdown-rendered blockquote {
      border-radius: calc(var(--blockquote-border-thickness) / 2) var(--radius-s) var(--radius-s) calc(var(--blockquote-border-thickness) / 2);
      padding-inline: calc(var(--blockquote-border-thickness) + 16px) 16px;
      padding-block: 8px;

      &::before {
        inset: 0;
      }
    }

    .HyperMD-quote:first-child,
    .cm-line:not(.HyperMD-quote) + .HyperMD-quote {
      border-start-start-radius: calc(var(--blockquote-border-thickness) / 2);
      border-start-end-radius: var(--radius-s);
      padding-top: 8px;
    }
    .HyperMD-quote:last-child,
    .cm-line.HyperMD-quote:has(+ .cm-line:not(.HyperMD-quote)) {
      border-end-start-radius: calc(var(--blockquote-border-thickness) / 2);
      border-end-end-radius: var(--radius-s);
      padding-bottom: 8px;
    }
  }
}
