// Dark contrast: Black
body.contrast-light-tonal.theme-light,
body.contrast-dark-tonal.theme-dark {
  --background-primary: var(--background-secondary);
}

body.contrast-light-inverse.theme-light,
body.contrast-dark-inverse.theme-dark {
  --background-primary: var(--color-base-20);
  --background-secondary: var(--color-base-00);
}

body:not(.is-mobile).contrast-dark-black.theme-dark {
  --background-primary: black;
  --background-primary-alt: var(--color-base-00);
  --background-secondary: black;
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-hover: hsl(from var(--mono-100) h s l / 0.2);
  --interactive-normal: var(--color-base-10);
}

body.is-mobile.contrast-dark-black.theme-dark,
body.is-mobile.contrast-dark-black-mobile.theme-dark {
  --system-status-background: black;
  --settings-background: black;
  --modal-sidebar-background: black;
  --mobile-sidebar-background: black;
  --tab-background-active: black;

  --background-primary: black;
  --background-primary-alt: var(--color-base-05);
  --background-secondary: black;
  --background-secondary-alt: var(--color-base-10);
  --background-modifier-border: var(--background-modifier-hover);

  background-color: black;

  &.is-tablet .mod-root .view-header,
  .workspace,
  .mod-root .workspace-tabs .workspace-leaf,
  .mod-root .view-header::before,
  .mod-root .view-content,
  .vertical-tab-content {
    background-color: black !important;
  }
}

// Light contrast: High contrast
.theme-light.contrast-light-vivid:not(.layout-macos, .layout-fusion, .layout-minimal) {
  --graph-text: var(--text-faint) !important;
  --graph-line: var(--text-muted) !important;
  --graph-node: var(--text-faint) !important;
  --graph-node-unresolved: var(--text-muted) !important;
}
.theme-light.contrast-light-vivid:not(.layout-macos, .layout-fusion, .layout-minimal) .app-container,
.theme-light.contrast-light-vivid.layout-minimal div:is(.workspace-ribbon, .mod-sidedock.mod-left-split) {
  --background-secondary: #1f1f1f;
}
.theme-light.contrast-light-vivid:not(.layout-macos, .layout-fusion, .layout-minimal, .layout-frame)
  div:is(
    .titlebar,
    .workspace-ribbon,
    .workspace-ribbon,
    .mod-sidedock,
    .mod-root .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner)
  ),
.theme-light.contrast-light-vivid:not(.layout-macos, .layout-fusion, .layout-minimal, .layout-frame):not(.tab-default)
  .mod-root
  .workspace-tab-header,
.theme-light.contrast-light-vivid.layout-minimal div:is(.workspace-ribbon, .mod-sidedock.mod-left-split),
.theme-light.contrast-light-vivid.layout-frame div:is(.titlebar, .workspace-ribbon, .workspace-ribbon, .mod-sidedock) {
  color-scheme: dark;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --mono-0: black;
  --mono-100: white;
  --color-base-00: #161616;
  --color-base-05: #171717;
  --color-base-10: #181818;
  --color-base-20: #1b1b1b;
  --color-base-25: #1f1f1f;
  --color-base-30: #242424;
  --color-base-35: #292929;
  --color-base-40: #383838;
  --color-base-50: #4d4d4d;
  --color-base-60: #6e6e6e;
  --color-base-70: #989898;
  --color-base-100: #cacaca;
  --background-modifier-form-field: var(--interactive-normal);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: color-mix(in srgb, var(--background-primary), white 5%);
  --interactive-hover: color-mix(in srgb, var(--interactive-normal), black 5%);
  --text-selection: color-mix(in oklch, var(--interactive-accent) 33%, transparent);
  --shadow-s: 0 0 0 var(--border-width) hsl(0 0% 100% / 0.07), 0 8px 24px hsl(0 0% 0% / 0.1), 0 8px 8px hsl(0 0% 0% / 0.1), 0 4px 12px -4px hsl(0 0% 0% / 0.35);
  --shadow-l:
    0 0 0 var(--border-width) hsl(0 0% 100% / 0.07), 0 1px 2px -1px hsl(0 0% 0% / 0.1), 0 2px 4px hsl(0 0% 0% / 0.1), 0px 12px 24px -16px hsl(0 0% 15% / 0.35);

  --bases-group-heading-property-color: var(--text-muted);
  --bases-table-group-background: var(--background-primary-alt);
  --bases-table-header-color: var(--text-muted);
  --bases-table-header-background: var(--background-primary);
  --bases-table-summary-background: var(--background-primary);
  --bases-table-border-color: var(--table-border-color);
  --bases-table-row-background-hover: var(--table-row-background-hover);
  --bases-table-cell-background-active: var(--background-primary);
  --bases-table-cell-background-disabled: var(--background-primary-alt);
  --bases-table-cell-background-selected: var(--table-selection);
  --bases-cards-background: var(--background-primary);
  --bases-cards-container-background: transparent;
  --bases-cards-cover-background: var(--background-primary-alt);
  --blockquote-border-color: var(--interactive-accent);
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;
  --bold-color: inherit;
  --callout-title-color: inherit;
  --callout-content-background: transparent;
  --callout-bug: var(--color-red);
  --callout-default: var(--color-blue);
  --callout-error: var(--color-red);
  --callout-example: var(--color-purple);
  --callout-fail: var(--color-red);
  --callout-important: var(--color-cyan);
  --callout-info: var(--color-blue);
  --callout-question: var(--color-orange);
  --callout-success: var(--color-green);
  --callout-summary: var(--color-cyan);
  --callout-tip: var(--color-cyan);
  --callout-todo: var(--color-blue);
  --callout-warning: var(--color-orange);
  --callout-quote: #9e9e9e;
  --canvas-background: var(--background-primary);
  --canvas-card-label-color: var(--text-faint);
  --canvas-color-1: var(--color-red);
  --canvas-color-2: var(--color-orange);
  --canvas-color-3: var(--color-yellow);
  --canvas-color-4: var(--color-green);
  --canvas-color-5: var(--color-cyan);
  --canvas-color-6: var(--color-purple);
  --canvas-dot-pattern: var(--color-base-30);
  --caret-color: var(--text-normal);
  --checkbox-marker-color: var(--background-primary);
  --checkbox-color: var(--interactive-accent);
  --checkbox-color-hover: var(--interactive-accent-hover);
  --checkbox-border-color: var(--text-faint);
  --checkbox-border-color-hover: var(--text-muted);
  --checklist-done-color: var(--text-muted);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--color-yellow);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-pink);
  --code-operator: var(--color-red);
  --code-property: var(--color-cyan);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-green);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
  --collapse-icon-color: var(--text-faint);
  --collapse-icon-color-collapsed: var(--text-accent);
  --divider-color: var(--background-modifier-border);
  --divider-color-hover: var(--interactive-accent);
  --drag-ghost-background: hsl(0 0% 0% / 0.85);
  --drag-ghost-text-color: #fff;
  --drag-item-background: var(--background-primary);
  --embed-background: inherit;
  --file-header-background: var(--background-primary);
  --file-header-background-focused: var(--background-primary);
  --flair-background: var(--interactive-normal);
  --flair-color: var(--text-normal);
  --footnote-divider-color-active: var(--metadata-divider-color-focus);
  --footnote-divider-color: var(--metadata-divider-color);
  --footnote-id-color-no-occurrences: var(--text-faint);
  --footnote-id-color: var(--text-muted);
  --footnote-input-background-active: var(--metadata-input-background-active);
  --footnote-input-background: var(--metadata-input-background);
  --graph-text: var(--text-normal);
  --graph-node: var(--text-muted);
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: var(--color-green);
  --graph-node-attachment: var(--color-yellow);
  --heading-formatting: var(--text-faint);
  --icon-color: var(--text-muted);
  --icon-color-hover: var(--text-muted);
  --icon-color-active: var(--text-accent);
  --icon-color-focused: var(--text-normal);
  --inline-title-color: var(--h1-color);
  --inline-title-style: var(--h1-style);
  --inline-title-variant: var(--h1-variant);
  --input-placeholder-color: var(--text-faint);
  --input-date-separator: var(--text-faint);
  --italic-color: inherit;
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent-hover);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-unresolved-color: var(--text-accent);
  --list-marker-color: var(--text-faint);
  --list-marker-color-hover: var(--text-muted);
  --list-marker-color-collapsed: var(--text-accent);
  --list-bullet-border: none;
  --list-bullet-transform: none;
  --list-numbered-style: decimal;
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--text-normal);
  --nav-item-color-active: var(--text-normal);
  --nav-item-color-selected: var(--text-normal);
  --nav-item-color-highlighted: var(--text-accent);
  --nav-item-background-selected: color-mix(in oklch, var(--color-accent) 15%, transparent);
  --nav-collapse-icon-color: var(--collapse-icon-color);
  --nav-collapse-icon-color-collapsed: var(--text-faint);
  --nav-heading-color: var(--text-normal);
  --nav-heading-color-hover: var(--text-normal);
  --nav-heading-color-collapsed: var(--text-faint);
  --nav-heading-color-collapsed-hover: var(--text-muted);
  --nav-tag-background: transparent;
  --nav-tag-color: var(--text-faint);
  --nav-tag-color-hover: var(--text-muted);
  --nav-tag-color-active: var(--text-muted);
  --metadata-background: transparent;
  --metadata-divider-color-hover: transparent;
  --metadata-divider-color-focus: transparent;
  --metadata-property-background: transparent;
  --metadata-property-background-hover: transparent;
  --metadata-label-background: transparent;
  --metadata-label-background-hover: transparent;
  --metadata-label-text-color: var(--text-muted);
  --metadata-label-text-color-hover: var(--text-muted);
  --metadata-input-text-color: var(--text-normal);
  --metadata-input-background: transparent;
  --metadata-input-background-hover: transparent;
  --pill-color: var(--text-muted);
  --pill-color-hover: var(--text-normal);
  --pill-color-remove: var(--text-faint);
  --pill-color-remove-hover: var(--text-accent);
  --pill-background: transparent;
  --pill-background-hover: transparent;
  --pdf-background: var(--background-primary);
  --pdf-page-background: var(--background-primary);
  --pdf-sidebar-background: var(--background-primary);
  --ribbon-background: var(--background-secondary);
  --ribbon-background-collapsed: var(--background-primary);
  --scrollbar-active-thumb-bg: color-mix(in oklch, var(--mono-100) 20%, transparent);
  --scrollbar-bg: color-mix(in oklch, var(--mono-100) 5%, transparent);
  --scrollbar-thumb-bg: color-mix(in oklch, var(--mono-100) 10%, transparent);
  --search-clear-button-color: var(--text-muted);
  --search-icon-color: var(--text-muted);
  --search-result-background: var(--background-primary);
  --setting-group-heading-color: var(--text-faint);
  --setting-items-background: var(--background-secondary);
  --suggestion-background: var(--background-primary);
  --sync-avatar-color-current-user: transparent;
  --sync-avatar-color-1: var(--color-red);
  --sync-avatar-color-2: var(--color-orange);
  --sync-avatar-color-3: var(--color-yellow);
  --sync-avatar-color-4: var(--color-green);
  --sync-avatar-color-5: var(--color-cyan);
  --sync-avatar-color-6: var(--color-blue);
  --sync-avatar-color-7: var(--color-purple);
  --sync-avatar-color-8: var(--color-pink);
  --tab-background-active: var(--background-primary);
  --tab-text-color: var(--text-faint);
  --tab-text-color-active: var(--text-muted);
  --tab-text-color-focused: var(--text-faint);
  --tab-text-color-focused-active: var(--text-normal);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: unset;
  --tab-container-background: var(--background-secondary);
  --tab-outline-color: var(--divider-color);
  --tab-switcher-background: var(--background-secondary);
  --table-background: transparent;
  --table-header-background: var(--table-background);
  --table-header-background-hover: inherit;
  --table-header-border-color: var(--table-border-color);
  --table-header-color: var(--text-normal);
  --table-text-color: inherit;
  --table-column-alt-background: var(--table-background);
  --table-row-background-hover: var(--table-background);
  --table-row-alt-background: var(--table-background);
  --table-row-alt-background-hover: var(--table-background);
  --table-selection: color-mix(in oklch, var(--color-accent) 10%, transparent);
  --table-selection-border-color: var(--interactive-accent);
  --table-drag-handle-background: transparent;
  --table-drag-handle-background-active: var(--table-selection-border-color);
  --table-drag-handle-color: var(--text-faint);
  --table-drag-handle-color-active: var(--text-on-accent);
  --table-add-button-background: transparent;
  --tag-color: var(--text-accent);
  --tag-color-hover: var(--text-accent);
  --tag-background: color-mix(in oklch, var(--color-accent) 10%, transparent);
  --tag-background-hover: color-mix(in oklch, var(--color-accent) 20%, transparent);
  --tag-border-color: color-mix(in oklch, var(--color-accent) 15%, transparent);
  --tag-border-color-hover: color-mix(in oklch, var(--color-accent) 15%, transparent);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary-alt);
  --titlebar-text-color: var(--text-muted);
  --titlebar-text-color-focused: var(--text-normal);
  --toggle-thumb-color: white;
  --vault-profile-color: var(--text-normal);
  --vault-profile-color-hover: var(--vault-profile-color);
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-20);
  --background-modifier-hover: color-mix(in oklch, var(--mono-100) 6.7%, transparent);
  --background-modifier-active-hover: color-mix(in oklch, var(--interactive-accent) 10%, transparent);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-40);
  --background-modifier-error: var(--color-red);
  --background-modifier-warning: var(--color-orange);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-warning-hover: var(--color-orange);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: color-mix(in oklch, black 90%, transparent);
  --background-modifier-form-field: var(--color-base-00);
  --background-modifier-form-field-hover: var(--background-modifier-form-field);
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
  --text-on-accent: white;
  --text-on-accent-inverted: black;
  --text-error: var(--color-red);
  --text-warning: var(--color-orange);
  --text-success: var(--color-green);
  --text-selection: color-mix(in oklch, var(--interactive-accent) 20%, transparent);
  --text-highlight-bg: rgba(255, 208, 0, 0.4);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --interactive-accent: var(--color-accent-1);
  --interactive-accent-hover: var(--color-accent-2);
}
