// Backlinks
body:not(.is-mobile) .backlink-pane {
  .search-result-file-match:not(:hover) .search-result-file-match-replace-button {
    display: none;
  }

  .search-result-file-match-replace-button {
    padding: 4px 8px;
  }
}

.embedded-backlinks .nav-header > .search-input-container {
  width: 100%;
  margin: 48px 0 16px;
  align-self: start;
}

// Footnotes
.markdown-embed[data-type="footnote"] {
  background-color: transparent;
  overflow: visible;
}

// Web viewer
.workspace-leaf-content[data-type="webviewer"] {
  .view-header {
    gap: 0;
  }
  .view-header-left,
  .view-actions {
    flex: 0;
  }
  .webviewer-content {
    border-top: none;
  }
}

// Canvas
.canvas-card-menu {
  gap: 4px;
  backdrop-filter: var(--blur-m);
  box-shadow: none;
  border: var(--border-width) solid var(--background-modifier-hover);
  background-color: color-mix(in srgb, var(--background-secondary) var(--blur-opacity-m), transparent) !important;
  padding: 8px;
}
.canvas-card-menu .canvas-card-menu-button svg {
  --icon-size: 24px;
  fill: none;
}
