body:is(.layout-classic, .layout-minimal) .mod-root .workspace-tab-container {
  border-radius: 0;
}

body:is(.layout-classic, .layout-minimal):not(.is-mobile) {
  --titlebar-border-width: var(--divider-width);

  &.mod-macos.is-frameless:not(.is-hidden-frameless) {
    --titlebar-height: 38px;
  }

  &.tab-top-left-stacked .mod-sidedock.mod-left-split {
    .workspace-tab-header-container {
      border: none;
    }
    .workspace-tab-header-container-inner {
      margin-bottom: 0 !important;
    }
  }

  // Side panels
  .mod-sidedock > .workspace-leaf-resize-handle {
    border-color: var(--divider-color);
  }

  // Ribbon
  &:not(.hover-ribbon) .workspace-ribbon.is-collapsed {
    border-right: var(--divider-width) solid var(--divider-color);
  }
  &.mod-macos.is-hidden-frameless:not(.hover-ribbon) .workspace-ribbon.is-collapsed {
    padding-top: 8px;
    box-shadow: 0 calc(-1 * var(--tab-outline-width)) var(--tab-outline-color);
  }

  // Status bar
  &.status-bar-full {
    --status-bar-border-width: var(--divider-width) 0 0 0;
  }
}

body:is(.layout-classic, .layout-minimal).is-tablet {
  .workspace-drawer.is-pinned > .workspace-leaf-resize-handle:not(:hover) {
    border-color: var(--divider-color);
  }
}

// Classic specific
body.layout-classic:is(.tab-floating, .tab-floating-center):not(.is-phone):not(.colorful-frame) {
  --tab-background-active: var(--background-primary);
}

// Minimal specific
body.layout-minimal {
  &:not(.is-translucent) .workspace {
    background-color: var(--background-primary);
  }
  &.show-ribbon:not(.is-translucent):not(.is-mobile) .workspace-ribbon:not(.is-collapsed) {
    background-color: var(--background-secondary);
    box-shadow: 0 calc(-1 * var(--header-height)) var(--background-secondary);
  }

  .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    border-bottom: none;
  }

  .mod-sidedock.mod-left-split,
  .workspace-drawer.mod-left {
    background-color: var(--background-secondary);
  }
}

body.layout-minimal.is-tablet {
  .workspace {
    background-color: transparent;
  }
}
