body.layout-frame:not(.is-mobile) {
  .workspace {
    padding: 8px;
    gap: 4px;
  }
  .workspace-ribbon,
  .workspace-split {
    background-color: var(--background-primary) !important;
    border-radius: var(--radius-window, var(--radius-m));
    border: var(--border-width) solid var(--background-modifier-border);
  }

  .workspace-ribbon:not(.is-collapsed) {
    padding-left: 4px;
  }
  .mod-root {
    overflow: hidden;
  }
  .mod-root .workspace-tab-container {
    border-radius: 0;
  }

  // macOS fix
  &.mod-macos.is-hidden-frameless {
    &.show-ribbon {
      --frame-left-space: 0px;
    }
    &:not(.hover-ribbon) .workspace-ribbon {
      --ribbon-width: 80px;
      margin-top: 0;
      padding-top: var(--header-height);
    }
    &.hover-ribbon .workspace-ribbon {
      height: fit-content;
    }
  }

  // Windows & Linux fix
  &:not(.mod-macos):not(.is-popout-modal).is-hidden-frameless .titlebar {
    height: var(--header-height);
    top: 8px;
    right: 8px;

    .titlebar-button-container.mod-right {
      border-top-right-radius: var(--radius-s);
      overflow: hidden;
    }
  }

  // Status bar
  &:not(.status-bar-full, .status-bar-cupertino) .status-bar {
    right: 8px;
    bottom: 8px;
  }

  // Style Settings: Status bar fix
  &.status-bar-full .workspace {
    padding-bottom: 0;

    .workspace-ribbon,
    .workspace-split {
      margin-bottom: 0;
    }
  }
}

// Mobile
body.layout-frame.is-tablet {
  .workspace {
    padding: 0 4px 4px;
    background-color: var(--mobile-sidebar-background);
  }
  .mod-root .workspace-tab-container {
    border-radius: 0;
  }
  .mod-root,
  .workspace-drawer.is-pinned {
    padding-top: 0;
    margin: var(--safe-area-inset-top) 4px 4px;
    height: auto;
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }
  .workspace-drawer-ribbon,
  .workspace-drawer-inner {
    padding-block: 0px 16px;
  }

  // Tab style
  &.tab-default .workspace-tab-header-container-inner {
    padding-top: 8px !important;
  }
}
